*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */


/* proprietà in comune di tutta la pagina */
nav{
    background-color: #3161E0;

    padding: 20px; 
}

header{
    display: flex;

    height: 100vh;

    padding: 50px;

    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;

    max-width: 1190px;
}

section{
    padding: 50px;
}

.section-grey{
    background-color: #D3D3D3;
    /* test */
}
/* fine proprietà in comune di tutta la pagina */


/* sezione navbar */
nav .container{
    display: flex;
}

nav .container .logo{
    /* per centrare il logo all'interno del suo contenitore */
    display: flex;

    padding: 5px;

    width: 240px;
}

nav .container .logo img{
    width: 100px;
}

nav .container .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    padding: 5px;
}

nav .navigation ul{
    display: flex;
    justify-content: center;
    gap: 35px;

    list-style-type: none;
}

nav .navigation ul li a{
    text-decoration: none;

    color: white;
}

nav .container .login{
    display: flex;
    justify-content: flex-end;
    padding: 5px;

    width: 240px;
}

nav .container .login a{
    text-decoration: none;

    padding: 8px 10px;

    border-radius: 15px;

    color: black;
    background-color: white;
}
/* fine sezione navbar */


/* sezione header */
header .download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    max-width: 900px;
}

header .download h1{
    margin-bottom: 40px;

    color: white;
}

header .download p{
    max-width: 600px;

    color: white;
}

header .download ul{
    display: flex;
    gap: 25px;

    margin-top: 30px;

    list-style-type: none;
}

.button-download{
    padding: 15px 25px;
    border-radius: 35px;

    text-decoration: none;

    color: black;
    background-color: white;
}

#button-browser{
    padding: 15px 25px;
    border-radius: 35px;

    text-decoration: none;

    color: white;
    background-color: black;
}
/* fine sezione header */


/* sections */
.row{
    display: flex;
}

.row .img{
    flex-grow: 1;
}

.row .description{
    width: 250px;
}

.title{
    padding: 35px 0;

    font-size: 35px;
    font-weight: bold;
}

.row .img.second{
    display: flex;
    justify-content: flex-end;
}
/* fine sections */


/* quarta sezione */
.big-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.big-content .description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-content .img{
    display: flex;
    justify-content: center;
}

.big-content .download-space{
    text-align: center;
}

.big-content .download-space .title{
    padding-top: 0;
    padding-bottom: 40px;
}

.big-content .download-space .button-download{
    background-color: #8EA1E1;
    color: white;
}
/* fine quarta sezione */


/* sezione footer */
footer{
    background-color: #23272A;
    /* test */
}

#top{
    padding-top: 10px;
    margin-bottom: 40px;
}

#top .big-column{
    background-color: #F08080;
    height: 575px;
    /* test */

    width: 350px;
}

#top .small-column{
    height: 575px;
    background-color: #20B2AA;
    border: 2px dashed white;
    /* test */

    flex-grow: 1;
}

hr{
    border: 1px solid white;
}

#bot{
    background-color: #7FFFD4;
    border: 2px dashed black;
    /* test */

    justify-content: space-between;

    padding: 20px 0;
    margin-top: 30px;
}

#bot .button{
    background-color: #FFB6C1;
    border: 2px dashed black;
    /* test */

    padding: 5px;
}


/* fine sezione footer */











